/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run ccsmethphase -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 8
    max_memory = 12.GB
    max_time   = 6.h

    // Input data
    input  = './demo/input_sheet.tsv'

    // Genome references
    genome = './demo/chr20_demo.fa'

    include_all_ctgs = true
}
